<select class="lang" #selectedLang (change)="switchLang(selectedLang.value)">
    <option *ngFor="let language of translate.getLangs()" [value]="language"
        [selected]="language === translate.currentLang">
        {{ language }}
    </option>
</select>
<table>
    <tr>
        <td>{{'datum'|translate}}</td>
        <td><input type="date" name="date" [(ngModel)]="date"></td>
    </tr>
    <tr>
        <td>{{'vremeod'|translate}}</td>
        <td><input type="time" name="timeoff" [(ngModel)]="timeoff"></td>
    </tr>
    <tr>
        <td>{{'vremedo'|translate}}</td>
        <td><input type="time" name="timeto" [(ngModel)]="timeto"></td>
    </tr>
    <tr>
        <td>{{'capacity'|translate}}</td>
        <td><input type="number" name="capacity" min="0" [(ngModel)]="capacity"></td>
    </tr>
    <tr>
        <td>{{'cena'|translate}}</td>
        <td><input type="number" name="cena" min="9" [(ngModel)]="cena"></td>
    </tr>
    <tr>
       <td colspan="2"><button class="btn btn-success" (click)="insert()">{{'ter'|translate}}</button></td>
    </tr>
</table>
<a routerLink="/vlasnik/termini">{{'vratise'|translate}}</a> <br>
<a routerLink="/">{{'odjavi'|translate}}</a>