<select class="lang" #selectedLang (change)="switchLang(selectedLang.value)">
    <option *ngFor="let language of translate.getLangs()" [value]="language"
        [selected]="language === translate.currentLang">
        {{ language }}
    </option>
</select>
<table>
    <tr>
        <td>{{'stara'|translate}}</td>
        <td><input type="password" name="oldPassword" [(ngModel)]="old"></td>
    </tr>
    <tr>
        <td>{{'nova'|translate}}</td>
        <td><input type="password" name="lozinka" [(ngModel)]="lozinka"></td>
    </tr>
    <tr>
        <td>{{'lozinka-ponovo'|translate}}</td>
        <td><input type="password" name="np" [(ngModel)]="np"></td>
    </tr>
    <tr>
        <td colspan="2"><button class="btn btn-success" (click)="change()">{{'change'|translate}}</button></td>
    </tr>
</table>
<br>
{{poruka}}