<ul>
    <li> <font color="white">{{'Korisnik'|translate}}:{{u.ime}} {{u.prezime}}</font></li>
    <li><a routerLink="{{link}}/termini">{{'termini'|translate}}</a></li>
    <li><a routerLink="{{link}}/changePassword">{{'change'|translate}}</a></li>
    <li><a class="logout" routerLink="/">{{'odjavi'|translate}}</a></li>
    <li style="float: right;"><select #selectedLang (change)="switchLang(selectedLang.value)">
        <option *ngFor="let language of translate.getLangs()" [value]="language"
            [selected]="language === translate.currentLang">
            {{ language }}
        </option>
    </select></li>
  </ul>
<h1>{{'dodajObjekat'|translate}}</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table>
                <tr>
                    <td>{{'naziv'|translate}}</td>
                    <td><input type="text" name="naziv" [(ngModel)]="naziv"></td>
                </tr>
                <tr>
                    <td>{{'kategorija'|translate}}</td>
                    <td>
                        <select name="kategorija" [(ngModel)]="kategorija">
                            <option value="" selected></option>
                            <option value="balon za fudbal">{{'balonzafudbal'|translate}}</option>
                            <option value="teren za tenis (otvoreni)">{{'terenzatenisotvoreni'|translate}}</option>
                            <option value="teren za tenis (zatvoreni)">{{'terenzateniszatvoreni'|translate}}</option>
                            <option value="karting staza">{{'kartingstaza'|translate}}</option>
                            <option value="teren za odbojku na pesku">{{'terenzaodbojkunapesku'|translate}}</option>
                            <option value="sala za kosarku">{{'salazakosarku'|translate}}</option>
                            <option value="sala za odbojku">{{'salazaodbojku'|translate}}</option>
                            <option value="trim staza za trcanje">{{'trimstazazatrcanje'|translate}}</option>
                            <option value="teren za skvos">{{'terenzaskvos'|translate}}</option>
                            <option value="teren za padl">{{'terenzapadl'|translate}}</option>
                            <option value="teren za paintball">{{'terenzapaintball'|translate}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>{{'adresa'|translate}}</td>
                    <td><input type="text" name="adresa" [(ngModel)]="adresa"></td>
                </tr>
                <tr>
                    <td>{{'grad'|translate}}</td>
                    <td><input type="text" name="grad" [(ngModel)]="grad"></td>
                </tr>
                <tr>
                    <td>{{'telefon'|translate}}</td>
                    <td><input type="text" name="telefon" [(ngModel)]="telefon"></td>
                </tr>
                <tr>
                    <td>e-mail</td>
                    <td><input type="text" name="email" [(ngModel)]="email"></td>
                </tr>
                <tr>
                    <td colspan="2"><button class="btn btn-success" (click)="dodajObjekat()">{{'dodajObjekat'|translate}}</button></td>
                </tr>
            </table>
            
        </div>
    </div>
</div>
{{poruka}}
