<select class="lang" #selectedLang (change)="switchLang(selectedLang.value)">
    <option *ngFor="let language of translate.getLangs()" [value]="language"
        [selected]="language === translate.currentLang">
        {{ language }}
    </option>
</select>

<div class="container">
    <div class="row">
        <div class="col-sm-2">&nbsp;</div>
        <div class="col-sm-6 d-flex justify-content-center">
            <h1><a routerLink="/">Rent A Sport Field</a></h1>
        </div>
        <div class="col-sm-2"><a routerLink="/login"><button type="button" class="btn btn-success">{{'login'|translate}}</button></a>
        </div>
        <div class="col-sm-2"><a routerLink="/register"><button type="button"
                    class="btn btn-info">{{'register'|translate}}</button></a></div>
    </div>
    <div class="row">
        <div class="col-sm-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
            <h2>Log in</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
            <table>
                <tr>
                    <td>{{'username'|translate}}:</td>
                    <td><input type="text" name="korime" [(ngModel)]="korime"></td>
                </tr>
                <tr>
                    <td>{{'password'|translate}}:</td>
                    <td><input type="password" name="lozinka" [(ngModel)]="password"></td>
                </tr>
                <tr>
                    <td colspan="2"><button class="btn btn-success" (click)="login()">{{'login'|translate}}</button></td>
                </tr>
            </table>
        </div>
    </div>
    <font color="red">{{poruka}}</font>
</div>