<select class="lang" #selectedLang (change)="switchLang(selectedLang.value)">
    <option *ngFor="let language of translate.getLangs()" [value]="language"
        [selected]="language === translate.currentLang">
        {{ language }}
    </option>
</select>
<table>
    <tr>
        <td>{{'naziv'|translate}}:</td>
        <td><input type="text" name="naziv" [(ngModel)]="naziv"></td>
        <td>{{'kategorija'|translate}}:</td>
                    <td>
                        <select name="kategorija" [(ngModel)]="kategorija">
                            <option value="" selected></option>
                            <option value="balon za fudbal">{{'balonzafudbal'|translate}}</option>
                            <option value="teren za tenis (otvoreni)">{{'terenzatenisotvoreni'|translate}}</option>
                            <option value="teren za tenis (zatvoreni)">{{'terenzateniszatvoreni'|translate}}</option>
                            <option value="karting staza">{{'kartingstaza'|translate}}</option>
                            <option value="teren za odbojku na pesku">{{'terenzaodbojkunapesku'|translate}}</option>
                            <option value="sala za kosarku">{{'salazakosarku'|translate}}</option>
                            <option value="sala za odbojku">{{'salazaodbojku'|translate}}</option>
                            <option value="trim staza za trcanje">{{'trimstazazatrcanje'|translate}}</option>
                            <option value="teren za skvos">{{'terenzaskvos'|translate}}</option>
                            <option value="teren za padl">{{'terenzapadl'|translate}}</option>
                            <option value="teren za paintball">{{'terenzapaintball'|translate}}</option>
                        </select>
                    </td>
        <td>{{'datum'|translate}}:</td>
        <td><input type="date" name="date" [(ngModel)]="date"></td>
        <td>{{'vremeod'|translate}}:</td>
        <td><input type="time" name="timeoff" [(ngModel)]="timeoff"></td>
        <td>{{'vremedo'|translate}}:</td>
        <td><input type="time" name="timeto" [(ngModel)]="timeto"></td>
        <td><button (click)="filter()" class="btn btn-success">{{'filtriraj'|translate}}</button></td>
    </tr>
</table>
<div class="container">
<div class="row" *ngFor="let b of bookings">
    <div class="col-sm-6 border border-primary">
        <h3>{{b.naziv}} </h3>
        <h4>{{b.kategorija}}</h4>
        {{'kapacitet'|translate}}:{{b.capacity}} {{'cena'|translate}}:{{b.cena}} <br>
        {{'datum'|translate}}: {{b.date}} <br>
        {{'time'|translate}}: {{b.timeoff}}-{{b.timeto}} <br>
        <button class="btn btn-success" (click)="bookOpen(b.idterm)">{{'rezervisi'|translate}}</button> <button (click)="open(b.objekat, b.idterm)" class="btn btn-info">{{'infoobjekat'|translate}}</button>
    </div>
    <div class="col-sm-6" *ngIf="clicked[b.idterm-1]">
        <table>
            <tr>
                <td>{{'brosoba'|translate}}</td>
                <td><input type="number"  name="brojosoba" min="1" [(ngModel)]="brOsoba"></td>
            </tr>
            <tr>
                <td colspan="2"><button class="btn btn-success" (click)="reserve(b.idterm)">{{'rezervisi'|translate}}</button></td>
            </tr>
        </table>
        {{message}}
    </div>
</div>
</div>
<a routerLink="{{link}}/changePassword">{{'change'|translate}}</a> <br>
<a routerLink="/">{{'odjavi'|translate}}</a>
