<select class="lang" #selectedLang (change)="switchLang(selectedLang.value)">
    <option *ngFor="let language of translate.getLangs()" [value]="language"
        [selected]="language === translate.currentLang">
        {{ language }}
    </option>
</select>
<div class="container">
    <div class="row">
        <div class="col-sm-2">&nbsp;</div>
        <div class="col-sm-6 d-flex justify-content-center"><h1><a routerLink="/">Rent A Sport Field</a></h1></div>
        <div class="col-sm-2"><a routerLink="/login"><button type="button" class="btn btn-success">{{'login'|translate}}</button></a></div>
        <div class="col-sm-2"><a routerLink="/register"><button type="button" class="btn btn-info">{{'register'|translate}}</button></a></div>
    </div>
    <div class="row">
        <div class="col-sm-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center"><h2>{{'registracija'| translate}}</h2></div>
    </div>
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
            <table>
                <tr>
                    <td>{{'ime'|translate}}</td>
                    <td><input type="text" name="ime" [(ngModel)]="ime"></td>
                </tr>
                <tr>
                    <td>{{'prezime'|translate}}</td>
                    <td><input type="text" name="prezime" [(ngModel)]="prezime"></td>
                </tr>
                <tr>
                    <td>{{'username'|translate}}</td>
                    <td><input type="text" name="korime" [(ngModel)]="korime"></td>
                </tr>
                <tr>
                    <td>{{'password'|translate}}</td>
                    <td><input type="password" name="lozinka" [(ngModel)]="lozinka"></td>
                </tr>
                <tr>
                    <td>{{'lozinka-ponovo'|translate}}</td>
                    <td><input type="password" name="lozinkap" [(ngModel)]="lozinkap"></td>
                </tr>
                <tr>
                    <td>{{'grad'|translate}}</td>
                    <td><input type="text" name="grad" [(ngModel)]="grad"></td>
                </tr>
                <tr>
                    <td>{{'datum-rodjenja'|translate}}</td>
                    <td><input type="date" name="datum" [(ngModel)]="datumRodjenja"></td>
                </tr>
                <tr>
                    <td>e-mail</td>
                    <td><input type="email" name="mail" [(ngModel)]="email"></td>
                </tr>
                <tr>
                    <td>{{'telefon'|translate}}</td>
                    <td><input type="text" name="telefon" [(ngModel)]="telefon"></td>
                </tr>
                <tr>
                    <td>{{'tip'|translate}}</td>
                    <td>
                        <input type="radio" name="tip" value="1" [(ngModel)]="tip"> {{'rekreativac'|translate}} <br>
                        <input type="radio" name="tip" value="2" [(ngModel)]="tip">{{'vlasnik'| translate}}
                    </td>
                </tr>
                <tr>
                    <td>{{captcha}}=</td>
                    <td><input type="text" [(ngModel)]="inputcaptcha"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button class="btn btn-success" (click)="register()">{{'registrujse'|translate}}</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{{message}}