<select class="lang" #selectedLang (change)="switchLang(selectedLang.value)">
    <option *ngFor="let language of translate.getLangs()" [value]="language"
        [selected]="language === translate.currentLang">
        {{ language }}
    </option>
</select>

<div class="container">
    <div class="row">
        <div class="col-sm-2">&nbsp;</div>
        <div class="col-sm-6 d-flex justify-content-center">
            <h1><a routerLink="/">Rent A Sport Field</a></h1>
        </div>
        <div class="col-sm-2"><a routerLink="login"><button type="button" class="btn btn-success">{{'login'|translate}}</button></a>
        </div>
        <div class="col-sm-2"><a routerLink="register"><button type="button" class="btn btn-info">{{'register'|translate}}</button></a></div>
    </div>
    <div class="row">
        <div class="col-sm-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-sm-12"><b>{{'title' | translate}}</b> <br>
            {{'title1'| translate}} <br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
            <h3>{{'naslov'|translate}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">&nbsp;</div>
    </div>
    <div class="row" *ngFor="let o of object2">
        <div class="col-sm-12 border border-primary">
            <h3>{{o.naziv}}</h3>
            <p>{{'kategorija'|translate}}:{{o.kategorija}}</p>
            <p>{{'adresa'|translate}}: {{o.adresa}} {{'grad'|translate}}:{{o.grad}}</p>
        </div>
    </div>
</div>